# Ignore build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.lo
*.la
*.a
*.so
*.gcno
*.gcda
*.gcov

# Ignore test output
*.out
/tmp/

# Ignore version control files
.git
.gitignore

# Ignore Python/editor/temp files
*.pyc
__pycache__/
*.swp
*.bak
.DS_Store
